{% extends 'base/msbase.html' %} {% load static %} {% load hosts %} {% block title %} Crypto Scam {% endblock title %} {% block meta %}
<meta property="og:description" content="We are the best company to remove personal information from internet and tell you why is data privacy important, provide data removal service from big data brokers." />
<meta name="description" content="We are the best company to remove personal information from internet and tell you why is data privacy important, provide data removal service from big data brokers." />
<meta property="og:locale" content="en_GB" />
<meta property="og:keywords" content="remove personal data from internet,big broker sites, data removal, sell data online, Why is data privacy important, internet defamation, best company to remove personal information from internet, remove personal information from google, remove personal data from internet, remove yourself from data collection sites, companies that remove personal information from internet"
/> {% endblock meta %} 
{% block headercss %}
<link rel="stylesheet" href="{% static '' %}css/mscss/glide.core.css" />
<link rel="stylesheet" href="{% static '' %}css/mscss/glide.theme.css" />
{% endblock headercss %} {% block content %}

<style>

</style> 

<section class="crypto-banner" title="Crypto Scam Investigation">
    <div class="container">
        <h1 class="d-none d-lg-block" style="font-size: 2rem">
            CRYPTO RECOVERY SERVICE FROM
            <br /> THE BEST CRYPTO SCAM INVESTIGATORS
        </h1>
        <h1 class="d-lg-none text-center" style="font-size: 2rem;">CRYPTO RECOVERY SERVICE FROM THE BEST CRYPTO SCAM INVESTIGATORS</h1>
    </div>
</section>
<section class="ps-report-slider">
    <div class="ps-report">
        <div class="container">
            <p>Report, Presentation & Free Test</p>
            <h2>
                17 ways High Net Worth Individuals are being hacked & how to be safe.
            </h2>

            <a href="https://personal.techforing.com/ebook" target="_blank" class="psr-btn">Download Now</a>
        </div>
    </div>
</section>

{% comment %} Crypto scam recovery {% endcomment %}
<section class="py-5" style="background: #fff">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
            <div class="vrp-line"></div>
            <h2 class="vrp-title text-center">
                DO YOU NEED HELP WITH STOLEN BITCOIN/ALTCOIN RECOVERY PROCESS? OUR CRYPTO SCAM INVESTIGATION CAN HELP
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="crpto-device-img">
                    <img data-src="{% static '' %}msimg/crypto-scam-investigation/crypto-recovery.png" class="lazy" alt="crypto-recovery-process" title="crypto-scam-recovery-process" style="width: 100%" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="vr-device-box">
                    <ul>
                        <li>Have you invested your hard-earned asset into cryptocurrency?</li>
                        <li>And now you cannot withdraw any of your investments from the funds without paying them bogus taxes?</li>
                        <li>Or did they disappear from the market without leaving a trace?</li>
                        <li>Remove spyware & ransomware</li>
                    </ul>
                    <p class="vrd-text text-justify mt-3 font-weight-bold">
                        Crypto scam recovery in cases like this might not be easy, but our service can help you recover your stolen funds.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} Types of crypto scam {% endcomment %}
<section class="py-5">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
            <div class="vrp-line"></div>
            <h2 class="vrp-title text-center">
                Types of crypto scams
            </h2>
        </div>
        <div class="row" id="accordion">
            <div class="col-md-3 crypto-item">
                <p class="text-justify" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                    Initial Coin Offering (ICO)
                </p>
                <p class="text-justify collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="headingTwo">
                    Ponzi Schemes
                </p>
                <p class="text-justify collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="headingThree">
                    Pump & Dump Schemes
                </p>
                <p class="text-justify collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" id="headingFour">
                    Market Manipulation
                </p>
                <p class="text-justify collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" id="headingFive">
                    Crypto-only payment retailers
                </p>
                <p class="text-justify collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix" id="headingSix">
                    Financial Fraud
                </p>
                <p class="text-justify collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" id="headingSeven">
                    Traditional Theft
                </p>
                <p class="text-justify collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight" id="headingEight">
                    Unscrupulous Promoters
                </p>
            </div>
            <div class="col-md-3">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <p class="text-md-center fw-bolder">
                        ICO (Initial Coin Offering) is a fundraising mechanism similar to IPO (Initial public offering) that's been used by companies to raise their funds by selling stocks at a cheaper rate in the stock market. ICO, on the other hand, works by offering tokens to the investors in exchange for fiat currency or established cryptocurrencies like Bitcoin or Ethereum. Scammers use this method to get investors fast, then shut down the project, causing the client to lose all their funds.
                    </p>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <p class="text-md-center fw-bolder">
                        A Ponzi scheme works by paying older investors with funds collected from new investors. A cryptocurrency Ponzi scheme works similarly. It starts with someone investing in a cryptocurrency and reselling them at a higher price, attracting new investors by promoting high returns. Eventually, the scheme falls apart, causing the newer investors to lose all their investments.
                    </p>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <p class="text-md-center fw-bolder">
                        A cryptocurrency pump & dump works just like a stock pump and dump. False claims and hype help to boost the price of a targeted cryptocurrency in the market. Then the originators or dominant holders sell their cryptos at an all-time high artificial peak, rendering the rest of the cryptos lose all their value. It usually happens in the ICO stage for most cryptos.
                    </p>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <p class="text-md-center fw-bolder">
                        Cryptocurrencies are typically not backed by central banks or governments. They are decentralized and run on a network of computers. The lack of regulation also makes it easier to manipulate the market. Crypto market manipulation works by artificially influencing asset prices. Or influencing the investor sentiment. Some market manipulation process includes pump and dump, whale wall spoofing, wash trading, stop-hunting, front-running, and churning, among many others.
                    </p>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <p class="text-md-center fw-bolder">
                        Some individuals or retail establishments claim that they do not accept payments in any form of currency other than Bitcoin or Ethereum. In that case, they are probably trying to scam you. Also, since anyone can open a crypto wallet, and tracking down the owner can be difficult, they could easily take off with your assets.
                    </p>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <p class="text-md-center fw-bolder">
                        One of the biggest concerns regarding cryptocurrency was the rise of financial fraud. The core feature of cryptocurrencies is anonymity, which is very lucrative for anyone trying to evade taxes, laundering their assets, or bribing someone anonymously.
                    </p>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <p class="text-md-center fw-bolder">
                        Cryptocurrencies have opened new ways for criminals to steal from people. Hacking into crypto wallets, setting up fake wallets for bulk counterparties, and setting up phony crypto exchanges to steal from victims are some tricks criminals use.
                    </p>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                    <p class="text-md-center fw-bolder">
                        Media personalities and social media influencers get approached by scammers to promote their cryptocurrencies in exchange for other assets like cash for example. Some take these offers and promote those cryptocurrencies, causing financial damage to their online followers.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="crpto-device-img">
                    <img data-src="{% static '' %}msimg/crypto-scam-investigation/crypto-types.png" class="lazy" alt="crypto-recovery-process" title="types-of-crypto-scam" style="width: 100%" />
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} what we offer {% endcomment %}
<section class="py-5" style="background: #fff">
    <div class="container">
        <div class="row uas-row">
            <div class="col-md-6 ex-col">
                <div class="uas-img">
                    <img data-src="{% static '' %}msimg/crypto-scam-investigation/we-offer.png" class="lazy" alt="what-we-offer" title="what we offer" style="width: 100%" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="uas-box" style="margin-top: 15px">
                    <div class="offer-line" style="background-color: #101125; height: 5px; width: 55px; margin-bottom: 12px"></div>
                    <h2 class="vrp-title">What we offer</h2>
                    <ul class="offer-list">
                        <li>Bitcoin recovery services</li>
                        <li>Altcoin recovery services</li>
                        <li>Crypto wallet recovery</li>
                        <li>Investigate crypto scams</li>
                        <li>Identify the criminals</li>
                        <li>Perform wallet transaction analysis</li>
                        <li>Collaborate with the legal team</li>
                        <li>Trace and recover stolen funds</li>
                        <li>Investigate crypto investment firms</li>
                        <li>Secure & protect your crypto assets</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} crypto market {% endcomment %}
<section class="py-5">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
            <div class="vrp-line"></div>
            <h2 class="vrp-title text-center">
                HOW WE INVESTIGATE IN THE CRYPTO MARKET AND RECOVER YOUR LOST CRYPTOCURRENCY
            </h2>
        </div>
        <div class="row mt-3 crypto-invest">
            <div class="col-md-6 p-0">
                <div class="crypto_market_item">
                    <h3>
                        <span class="c-icon">
                            <img src="{% static '' %}msimg/crypto-scam-investigation/transection-icon.png" alt="financial-growth-anlysis" style="width: 100%" />
                        </span>
                        <span class="ml-md-3 d-inline-block">DIGITAL ASSETS TRANSACTION ANALYSIS</span>
                    </h3>
                    <p style="font-size: 15px; font-weight: 500">
                        We start our cryptocurrency scam recovery by examining the narrative of events and the timeline of the scheme. Then, our cryptocurrency recovery experts will trace your assets and identify the exchange wallet address with a digital forensic investigation. Once we know who is holding your cryptocurrency, we go after that criminal.
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-0 d-none d-md-flex align-items-end">
                <div class="mt-4">
                    <img src="{% static '' %}msimg/crypto-scam-investigation/right-vector.png" alt="right-vector" />
                </div>
            </div>
            <div class="col-md-6 p-0 d-none d-md-flex align-items-end justify-content-end">
                <div class="mt-4">
                    <img src="{% static '' %}msimg/crypto-scam-investigation/left_vector.png" alt="left_vector" />
                </div>
            </div>

            <div class="col-md-6 p-0">
                <div class="crypto_market_item">
                    <h3>
                        <span class="c-icon">
                            <img src="{% static '' %}msimg/crypto-scam-investigation/forensic-icon.png" alt="forensic-icon" />
                        </span>
                        <span class="ml-3 d-inline-block">DIGITAL FORENSIC</span>
                    </h3>
                    <p style="font-size: 15px; font-weight: 500">
                        We will perform open-source intelligence (OSINT) to extract and analyze data from millions of data points on the Blockchain.
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="crypto_market_item">
                    <h3>
                        <span class="c-icon">
                            <img src="{% static '' %}msimg/crypto-scam-investigation/fraud-icon.png" alt="fraud-icon" />
                        </span>
                        <span class="ml-3 d-inline-block">IDENTIFY THE SCAMMER</span>
                    </h3>
                    <p style="font-size: 15px; font-weight: 500">
                        We will try to trace the scammers by attacking their devices directly. Using the zero-day vulnerability, we can trace their IP, identity, location, and their true identity.
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-0 d-none d-md-flex align-items-end">
                <div class="mt-4">
                    <img src="{% static '' %}msimg/crypto-scam-investigation/right-vector.png" alt="right-vector" />
                </div>
            </div>
            <div class="col-md-6 p-0 d-none d-md-flex align-items-end justify-content-end">
                <div class="mt-4">
                    <img src="{% static '' %}msimg/crypto-scam-investigation/left_vector.png" alt="left_vector" />
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="crypto_market_item">
                    <h3>
                        <span class="c-icon">
                            <img src="{% static '' %}msimg/crypto-scam-investigation/encryption-icon.png" alt="encryption-icon" />
                        </span>
                        <span class="ml-3 d-inline-block">RECOVER YOUR CRYPTO ASSET</span>
                    </h3>
                    <p style="font-size: 15px; font-weight: 500">
                        We will hunt down the scammers and force them to return your digital assets to you. You can count on us to recover your lost cryptocurrency. We will even alert law enforcement and regulatory agencies if necessary.
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="crypto_market_item">
                    <h3>
                        <span class="c-icon">
                            <img src="{% static '' %}msimg/crypto-scam-investigation/report-icon.png" alt="report-icon" />
                        </span>
                        <span class="ml-3 d-inline-block">DOCUMENTATION</span>
                    </h3>
                    <p style="font-size: 15px; font-weight: 500">
                        We summarize everything in a formal investigation report.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% comment %} why choose us {% endcomment %}
<section class="py-5" style="background: #fff">
    <div class="container">
        <div class="row uas-row">
            <div class="col-md-6">
                <div class="uas-box" style="padding-top: 5px">
                    <div class="offer-line" style="background-color: #101125; height: 5px; width: 55px; margin-bottom: 12px"></div>
                    <h2 class="vrp-title">Why choose us?</h2>
                    <div style="margin-top: 1.5rem">
                        <P class="mb-0" style="font-weight: 700">Cryptocurrency Recovery Experts</p>
                        <P style="color: #000">
                            We have highly skilled cybersecurity & blockchain investigators specializing in only crypto scam investigation and crypto wallet recovery.
                        </p>
                    </div>
                    <div style="margin-top: 10px">
                        <P class="mb-0" style="font-weight: 700">Satisfied Clients, Proven Track Records</p>
                        <P style="color: #000">
                            We have helped to recover stolen cryptocurrency worth millions of dollars for clients who got scammed just like you.
                        </p>
                    </div>
                    <div style="margin-top: 10px">
                        <P class="mb-0" style="font-weight: 700">Safe and Secure</p>
                        <P style="color: #000">
                            We understand that after being scammed you might not believe in anything anymore! But there is HOPE!
                        </p>
                    </div>
                    <div style="margin-top: 10px">
                        <P style="color: #000">
                            TechForing is a registered business in USA & UK, we will be transparent with you about everything from the start to finish of our crypto recovery services.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ex-col">
                <img data-src="{% static '' %}msimg/crypto-scam-investigation/choose-us.png" class="lazy" alt="choose-us" title="why choose us" style="width: 100%"/>
            </div>
        </div>
    </div>
</section>

{% comment %} frequently asked questions {% endcomment %}
<section class="py-5">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
            <div class="vrp-line"></div>
            <h2 class="vrp-title text-center">
                Frequently Asked Questions
            </h2>
        </div>
        <div class="row justify-content-center">
           <div class="col-md-10">
                <div class="comp-information">
                    <div class="information__accordion js-information" id="information Accordion">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <!-- NOTE: For change the arrow position toggle class .collapsed ( for collapsed add class .collapsed | for expanded remove class .collapsed ) -->
                                    <button type="button" class="btn" data-toggle="collapse" data-target="#collapse-details" aria-expanded="true" aria-controls="collapse-details">
                                    <span class="js-information_tooltip pl-4" data-toggle="tooltip" data-placement="bottom" style="color: rgba(0, 0, 0, 0.6); font-weight: 600; font-size: 20px">Can recovering lost cryptocurrency work?</span> 
                                    </button>
                                </h5>
                            </div>
                            <!-- NOTE: For show the collapses content add class .show -->
                            <div class="collapse" id="collapse-details" data-parent="">
                                <div class="card-body" style="padding-left: 52px">
                                    Yes, it can. Our wallet recovery service starts with a wallet transaction analysis. This process allows us to identify the scammers and financial institutions involved with the scam. Also, we will attack the devices owned by the scammers with zero-day vulnerability to trace their location. After finding them, we will persuade them to help us recover the stolen cryptocurrency. We will also collaborate with legal authorities and the media if required.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button type="button" class="btn js-information_tooltip collapsed" data-toggle="collapse" data-target="#accessRights-collapse" aria-expanded="false" aria-controls="accessRights-collapse">
                                    <span class="js-information_tooltip pl-4" ddata-toggle="tooltip" data-placement="bottom" style="color: rgba(0, 0, 0, 0.6); font-weight: 600; font-size: 20px">How do I protect myself from falling a victim to crypto scammers?</span>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accessRights-collapse" data-parent="">
                                <div class="card-body" style="padding-left: 52px">
                                    Protecting yourself from crypto scammers is not that hard. Most investors do not perform their research before about the risk and volatility of the cryptocurrency world. Staying up to date with the latest cryptocurrency trends and educating yourself about the cryptocurrency market and related scams will help you to be aware. Keep an eye on the transactions on your crypto wallet and other accounts. Never share your private key. Use strong passwords and two-factor authentication for your crypto wallet. Install adblocker and deactivate JavaScript while you are browsing the internet.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button type="button" class="btn js-information_tooltip collapsed" data-toggle="collapse" data-target="#accessRights2-collapse" aria-expanded="false" aria-controls="accessRights2-collapse">
                                    <span class="js-information_tooltip pl-4" data-toggle="tooltip" data-placement="bottom" style="color: rgba(0, 0, 0, 0.6); font-weight: 600; font-size: 20px">Do you work on a contingency basis?</span>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accessRights2-collapse" data-parent="">
                                <div class="card-body" style="padding-left: 52px">
                                    Unfortunately, our limited workforce, resources, and a large number of clients to deal with do not allow us to do that. So, we work for those who pay us first.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button type="button" class="btn js-information_tooltip collapsed" data-toggle="collapse" data-target="#accessRights3-collapse" aria-expanded="false" aria-controls="accessRights3-collapse">
                                    <span class="js-information_tooltip pl-4" data-toggle="tooltip" data-placement="bottom" style="color: rgba(0, 0, 0, 0.6); font-weight: 600; font-size: 20px">What to do if I have lost my cryptocurrency in a scam?</span>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accessRights3-collapse" data-parent="">
                                <div class="card-body" style="padding-left: 52px">
                                    Losing your crypto assets to a scam is terrible, but you must keep your head cool. Consider taking expert suggestions to gain control over the situation. Law enforcement agencies or any reputed and reliable cybercrime investigators can assist you with identifying the fraud and getting your funds back. However, the legal process is time-consuming. As you need to catch the scammer before they get away with your assets, contacting a reliable cybersecurity company is always the better option.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button type="button" class="btn js-information_tooltip collapsed" data-toggle="collapse" data-target="#accessRights4-collapse" aria-expanded="false" aria-controls="accessRights4-collapse">
                                    <span class="js-information_tooltip pl-4" data-toggle="tooltip" data-placement="bottom" style="color: rgba(0, 0, 0, 0.6); font-weight: 600; font-size: 20px">How much does it cost?</span>
                                    </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accessRights4-collapse" data-parent="">
                                <div class="card-body" style="padding-left: 52px">
                                    Our cryptocurrency recovery service costs depend on how much crypto you have lost. Our standard payment includes an upfront fee and a commission upon recovering your crypto wallet. Contact us to learn more.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</section>

{% comment %} Clients feedbacks {% endcomment %}
<section class="py-5" style="background: #fff">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
            <div class="vrp-line"></div>
            <h2 class="vrp-title text-center">
                WHAT OUR CLIENTS ARE SAYING
            </h2>
        </div>
        <div class="vrps-right">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="client-feedback">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img src="{% static '' %}msimg/crypto-scam-investigation/left-qoute.png" alt="left qoute" />
                                    <img src="{% static '' %}msimg/crypto-scam-investigation/joe-maccray.jpg" class="newClient-img mx-5" alt="Client Img" />
                                    <img src="{% static '' %}msimg/crypto-scam-investigation/right-qoute.png" alt="right qoute" />
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-7 text-center pt-3" style="padding-bottom: 60px;">
                                        <h2 style="color: #101125; font-size: 23px; font-weight: 600; margin: 0">Joseph McCray (USA)</h2>
                                        <p style="color: #000; font-size: 20px;">Founder & CEO, Strategic Security</p>
                                        <p class="mt-3" style="color: #000;"> 
                                            My cryptocurrency got stolen despite it being deemed to be pretty secure. I can understand things happen! Tried law enforcement agencies but got no help, then hired the TechForing team to get my funds back. They traced back the hacker and forced him to return the cash with the same value as the lost crypto. Excellent job indeed!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="client-feedback">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img src="{% static '' %}msimg/crypto-scam-investigation/left-qoute.png" alt="left qoute" />
                                    <img src="{% static '' %}msimg/virus/Stephen-Luc.jpg" class="newClient-img mx-5" alt="Client Img" />
                                    <img src="{% static '' %}msimg/crypto-scam-investigation/right-qoute.png" alt="right qoute" />
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-7 text-center pt-3" style="padding-bottom: 60px;">
                                        <h2 style="color: #101125; font-size: 23px; font-weight: 600; margin: 0">Stephen Luc (USA)</h2>
                                        <p style="color: #000; font-size: 20px;">CEO, Nonstop Info Publishing LLC</p>
                                        <p class="mt-3" style="color: #000;"> 
                                            If you're in need of expertise in updated WordPress or website security and how to protect your assets - then have these guys look into your site or teach you how. I'm very impressed and I know you will be too!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="client-feedback">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img src="{% static '' %}msimg/crypto-scam-investigation/left-qoute.png" alt="left qoute" />
                                    <img src="{% static '' %}msimg/virus/enrico-garzotto.jpg" class="newClient-img mx-5" alt="Client Img" />
                                    <img src="{% static '' %}msimg/crypto-scam-investigation/right-qoute.png" alt="right qoute" />
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-7 text-center pt-3" style="padding-bottom: 60px;">
                                        <h2 style="color: #101125; font-size: 23px; font-weight: 600; margin: 0">Enrico Garzotto (Italy)</h2>
                                        <p style="color: #000; font-size: 20px;">CEO & Founder, Enrico Garzotto</p>
                                        <p class="mt-3" style="color: #000;"> 
                                            One morning, I woke up getting calls from everywhere. Somebody sent suspicious inbox messages from my social media profile to all my friends and foes. I asked my assistant to look into it. He found out about this cybersecurity team. They did something to help me get my login access back. Overall, a very professional job! Fast and reliable.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="glide__bullets vrps-bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0" style="width: 32px; height: 8px; border-radius: 4px"></button>
                    <button class="glide__bullet" data-glide-dir="=1" style="width: 32px; height: 8px; border-radius: 4px"></button>
                    <button class="glide__bullet" data-glide-dir="=2" style="width: 32px; height: 8px; border-radius: 4px"></button>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %}  {% endcomment %}
<section class="pb-4 vr-clean hr-clean" style="background: #F6F6F6 !important;">
    <div class="container">
        <h2>HAVE YOU BEEN A VICTIM OF CRYPTOCURRENCY FRAUD?</h2>
        <p>Let us help you with cryptocurrency scam recovery!</p>
        <a href="{% host_url 'get_start' host 'main' %}" target="_blank">Secure now</a>
    </div>
</section>
{% comment %} Blogs {% endcomment %}
<section class="pt-blog mb-0 pb-4" style="background: #fff; padding-top: 50px">
    <div class="container">
        <div class="pcs-line"></div>
        <h2 class="pt-title">important resources</h2>
    </div>
    <div class="pt-blog-row" style="background: #fff">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="pt-blog-box">
                        <img src="{% static '' %}msimg/crypto-scam-investigation/cyber_attacks.png" alt="cyber-crime-investigation-computer-crime-investigation" title="Techforing-cryptoscam-investigation-blog" class="lazy" />
                        <div class="pt-bar"></div>
                        <h2>Cyber Attacks on Financial Institutions- Hackers Stealing Data, not Money</h2>
                        <p class="text-justify">
                            Financial institutions like Banks, brokerage firms, mortgage companies often become the target of hackers, who are after financial data to perform phishing attacks, DDOS, etc. Data is more valuable than money and such cyberattacks cost banks millions!
                        </p>
                        <div class="case-btn rcase-btn">
                            <a href="https://blog.techforing.com/case_studies/online-dating-scam-love-trap/" target="_blank">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pt-blog-box">
                        <img src="{% static '' %}msimg/crypto-scam-investigation/cybersecurity_tips.png" alt="cyber-crime-investigation-cyber-crime-prevention" title="Techforing-cryptoscam-investigation-blog-2" class="lazy" />
                        <div class="pt-bar"></div>
                        <h2>Cybersecurity tips for work from home users - coping up with the new normal</h2>
                        <p class="text-justify">
                            Working from home makes life easy for hackers to infiltrate not so secure IT system used by the employees. Therefore, organizations' data security largely depends on how safely the coworkers can operate workplace digital assets. This blog has the right tips you can use!
                        </p>
                        <div class="case-btn rcase-btn">
                            <a href="https://blog.techforing.com/blogs/cybersecurity-tips-for-work-from-home/" target="_blank">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pt-blog-box">
                        <img src="{% static '' %}msimg/crypto-scam-investigation/secure_office.png" alt="cyber-crime-investigation-cyber-blackmailing" title="Techforing-cryptoscam-investigation-blog-3" class="lazy" />
                        <div class="pt-bar"></div>
                        <h2>How to design a secure office network</h2>
                        <p class="text-justify">
                            To ensure safe communications via routers, switches, servers, and hosts, defense-in-depth approach security is mandatory for each organization. This article provides a comprehensive view of designing a secure office network that you can implement in your workplace.
                        </p>
                        <div class="case-btn rcase-btn">
                            <a href="https://blog.techforing.com/blogs/how-to-design-a-secure-office-network/" target="_blank">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %} {% block customjs %}
<script>
    new Glide(".glide", {
        type: "carousel",
        perView: 1,
    }).mount();
</script>
<script>
    new Glide("#glide", {
        type: "carousel",
        perView: 3,
        autoplay: 3000,
        keyboard: true,
        breakpoints: {
            800: {
                perView: 1,
            },
        },
    }).mount();
</script>
{% endblock customjs %}